{% extends 'main/layout.html' %} {# переносим код из шаблона layout.html сюда #}

{% block title %} Добавить отзыв {% endblock %}

{% block content %}
    {% if rewiews %}
        <h1>Отзывы</h1>
        <a class="btn btn-success" href="{% url 'rewiew' %}">Оставить отзыв</a><br> {# rewiew - url адрес, при котором запускается функция rewiew #}
        <div class="rewiews">
            {% for i in rewiews %} {# вывод всех отзывов на страницу с помошью цикла если они есть #}
                <div>
                    <h5>{{ i.first_name }} {{ i.data }}</h5> {# имя пользователя #}
                    <p style="margin-top:0px ; font-size: 18px">{{ i.content }}</p> {# текст отзыва #}
                </div><br>
            {% endfor %}
        </div>
    {% else %}
        <h1>Здесь ещё нет отзывов</h1>
        <a class="btn btn-success" href="{% url 'rewiew' %}">Оставить отзыв</a>
    {% endif %}
{% endblock %}