{% extends 'products/katalog.html' %}

{% block title %} {{ category.name }} {% endblock %}

{% block content %}
    {# вывод товаров на страницу, если они есть #}
    {% if products %}
        <h1>{{ category.name }}</h1> {# переменная с нужной категорией товаров #}
        {% for product in products %} {# вывод товаров с помощью цикла если они есть #}
            <div class="pon2">
                <img src="{{ product.image.url }}" alt=""><br> {# изображение товара #}
                <p>{{ product.model }}</p><br> {# модель товара #}
                <p>{{ product.price }} руб.</p> {# цена товара #}
                <a href="{% url 'basket_add' product.id %}"><button>Добавить в корзину</button>></a> {# ссылка на функцию basket_add, которая добавляет товар в корзину #}
            </div>
        {% endfor %} {# конец тела цикла #}
    {% else %}
        <h1>Таких товаров ещё нет</h1>
    {% endif %}
{% endblock %}